extends layout


block content
	.inner-content-course()
		each course in courses
			.box(class=`${course.style}`)
				if course.style === "image"
					img(src=`${course.image}` alt="course-image" oid=`${course.id}`)