extends layout

block content
	.inner
		video(width="640", height="480", controls, class="video-player")
			source(src=`${course.video}`, type="video/mp4")
			| Your browser does not support the video tag for mp4s. 
		
		button(onclick=`moveToQuestions('${course._id}');`)
			Continue to questions
			
	script
		| var video = document.getElementsByClassName('video-player')[0];