.side-nav {
	width: 330px;
	height: 100%;
	vertical-align: top;
	border-right: 1px solid $text-color;
	
	h3 {
		text-align: center;
		top: 20px;
		position: relative;
	}
	
	.menu {
		margin-top: 150px;
		width: 90%;
		position: relative;
		left: 5%;
		height: auto;
		min-height: 50px;
		
		ul {
			list-style: none;
		  width: 100%;
			left: -43px;
			position: relative;
			
			li{
				min-height: 50px;
				height: auto;
				width: 95%;
				border:1px solid $boxes;
				margin-bottom: 10px;
				padding-left: 15px;	
			
				&:hover {
					background: $boxes;
				}
				
				a {
					color: inherit;
					text-decoration: none;
					top: 10px;
					position: relative;
				}
			}
			
		}
		
	}
}

.content {
	vertical-align: top;
	width: 100%;
	padding-left: 15px;
	height: 100%;
	
	.inner-content {
		width: 80%;
		height: 90%;
		position: relative;
		left: 25px;
		top: 5%;
	}
}
